body {
    background-color: #202225; /* 어두운 배경 */
    color: white;             /* 흰색 텍스트 */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.title {
    font-size: 2.5em;
    margin-bottom: 50px;
    color: white;
    font-weight: bold;
}

.roll-container {
    display: flex;
    gap: 40px;
}

.roll-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roll-item img {
    width: 150px;   /* 가로 크기 */
    height: 200px;  /* 3:4 비율 고려 세로 크기 조정 */
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #36393f; 
    border: 3px solid #36393f;
    object-fit: contain; /* 이미지가 잘리지 않도록 contain으로 변경 */
}

/* Roll 버튼 스타일 */
.roll-button {
    background-color: #a74848; 
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.roll-button:hover {
    background-color: #8c3e3e;
}

/* 초기화 버튼 영역 스타일 */
.control-panel {
    margin-top: 40px; 
    display: flex;
    justify-content: center;
}

/* 초기화 버튼 스타일 */
.control-button {
    background-color: #a74848; 
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    margin: 0 10px;
}

.control-button:hover {
    background-color: #8c3e3e;
}
